<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Isp_Survey::survey_orderlist" title="Survey Feature" translate="title" module="Isp_Survey" sortOrder="15" parent="Magento_Sales::sales_operation" action="survey/orderlist/feature" resource="Isp_Survey::survey_orderlist"/>
    </menu>
</config>